@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.container{
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 2% 0;
  justify-content: space-around;
}

.container span{
  color: #98B020;
  font-weight: bold;
  font-size: 18px;
}