.introducao {
    background-image: url('../assets/oleos.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 70vh;
}

.descricao {
    text-align: left;
    width: 35%;
    margin-left: 50em;
    padding: 2em;
}

.descricao p {
    font-size: 20px;
    text-align: end;
}

.descricao h1 {
    font-size: 30px;
    text-align: end;
}